# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
.env

# Notebooks
.ipynb_checkpoints/

# Node / Front-end
node_modules/
dist/
build/
.vite/
.next/
.vercel/

# Datasets pesados (Wildfire vai estourar limite do GitHub)
06-visao-wildfire/data/
06-visao-wildfire/wildfire/
06-visao-wildfire/*.zip
*.h5
*.keras
*.pt
*.pth

# IDEs
.idea/
.vscode/
.cursor/

# Logs
*.log
